html { font-size: 0.6rem; }

@media (min-width: 360px) {
    html { font-size: 0.75rem; }
    .form-check-label{
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
    }
    .form-control{
        margin-bottom: 0.5rem;
    }
}
@media (min-width: 768px) {
    html { font-size: 0.75rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow:hidden;
    padding: 20px;
}

.body-color {
    background-color: #3f1c3c;
}

.footer-color{
    background-color: #1f0e1e;
}

.margin-top{
    margin-top: 12%;
}

.card-color{
    background-color: #36002b !important;
}

.card-color-darker{
    background-color: #1f0e1e !important;
}

hr{
    border-color: white;
    background-color: white;
}
